body,
html {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(241, 241, 241);
}

p {
    font-size: arial;
    width: auto;
}

h1,
h2,
h3,
h4 {
    font-size: time-New-roman;
}

div.fond {
    height: auto;
    width: 100%;
    background-image: url(img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.fond div.titulo {
    height: 60px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    background: #2a5ca7;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    border: 2px solid #2a5ca7;
    height: auto;
    margin: 60px 0 0 0;
    width: calc(100% - 64px);
    display: grid;
    grid-template-columns: 50% 50%;
}

div.fond div.titulo h2 {
    margin: 0;
    color: #fff;
}