@font-face {
    font-family: "poc";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../font/ConcertOne-Regular.woff") format("woff"), url("../font/ConcertOne-Regular.ttf") format("truetype");
}
:root{
    --amarillo:#fbe726;
    --amarillo2:#dabb18;
    --amarillo3:#b89e1c;
    --azul:#1e455c;
    --azul2:#235f81;
    --rojo:#f40404;
    --naranja:#f97d27;
    --cafe:#a36449;
    --cafe2:#5b2b26;
    --verde:#c9c768;
    --verde2:#365232;
    --blanco:#fff;
    --blanco2:#ece8e8;
    --negro:#000;
    --negro2:#111111;
    --negro3:#3c3c3c;
    --gris:#cacaca;
}    
*{font-family: poc;font-size: 18px; margin: 0;text-transform: capitalize;}
input[type="email"]{
    text-transform: lowercase;
}
html,
body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

iframe{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
a {
    font-size: 30px;
    text-decoration: none;
    color: var(--negro2);
    cursor: pointer;
}
li{list-style: none;}
input[type="text"],input[type="password"]{
    border: 1px solid var(--azul);
    background: transparent;
    width: calc(100% - 6px);
    height: 30px;
    padding: 0 2px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing:1px;
}
input,select,textarea{
    background: transparent;
    border: 1px solid var(--azul);
    border: 1px solid var(--azul);
    background: transparent;
    width: calc(100% - 6px);
    height: 30px;
    padding: 0 2px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing:1px;
}
textarea{
    background: transparent;
    border: 1px solid var(--azul);
    border: 1px solid var(--azul);
    width: calc(100% - 15px);
    height: calc(100% - 22px);
    border-radius: 5px;
    font-size: 18px;
    letter-spacing:1px;
}
input:focus,select:focus{
    border: 2px solid var(--azul) !important;
    background: var(--cafe2) !important;
    color: var(--blanco2);
}
input[type="radio"],input[type="checkbox"]{
    cursor: pointer;
}
    
.mayusculas{
    text-transform: uppercase;
}
.centrar {
    justify-content: center;
    align-items: center;
    align-content: center;
}
.ceterText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100;
}
.btn{
    width: auto;
    height: 38px;
    background-color: var(--azul);
    border: solid 2px var(--azul);
    color: var(--blanco2);
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    transition-duration: .5s;
    background-origin: content-box;
    background-size: 28px;
}
.btnEliminar{
    background-color: var(--rojo) !important;
    border-color: var(--rojo) !important;
    background-image: url(../img/iconos/eliminar.png);
}
.btnAgregar{
    background-color: var(--azul2) !important;
    background-image: url(../img/iconos/agregar.png);
}
.btnModificar{
    background-color: var(--azul2) !important;
    background-image: url(../img/iconos/modificar.png);
}
.btnPDF{
    background-color: var(--naranja) !important;
    border-color: var(--naranja) !important;
    background-image: url(../img/iconos/pdf.png);
}
.btnBuscar{
    background-image: url(../img/iconos/buscar.png);
}
.btnConsulta{
    background-image: url(../img/iconos/consultar.png);
    width: 160px;
}
.btn:focus{
    background-color: var(--azul2) !important;
}
input.vacio,select.vacio{
    border: 1px solid var(--rojo);
}
/************login*************************/
.contenedor-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: radial-gradient(circle at 50% -20.71%, #ffb937 0, #ffa82e 16.67%, #ff9120 33.33%, #f7740a 50%, #eb5400 66.67%, #e23400 83.33%, #de000d 100%);
}
.formulario {
    height: auto;
    width: 85%;
    display: grid;
    grid-template-columns:50% 50% ;
    background-color: var(--amarillo2);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}
/********img************/
.formulario-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-img img{
    width: 70%;
}
/********img************/
.formulario-login{
    display: flex;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    flex-direction: column;
    color: var(--cafe2);
}
.formulario-login>div{
    margin: 10px 0;
}
.formulario-login h2{
    margin:0;
}
.form-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.form-login img{
    height: 30px;
    width: auto;
}
.form-login p{
    height: 30px;
    width: auto;
    margin: 0 5px;
    font-size: 25px;
}
.btn-login{
    background-color: var(--naranja);
    border: solid 2px var(--naranja);
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-image: url(../img/iconos/cerrar.png);
    background-position: 30%;
    cursor: pointer;
    transition-duration: .5s;
}
.btn-login:hover{
    transition-duration: .5s;
    background-position: 69%;
    background-image: url(../img/iconos/abrir.png);
}
.btn-login:focus{
    background-color: var(--naranja);
    border: solid 2px var(--naranja);
    transition-duration: .5s;
    background-position: 69%;
    background-image: url(../img/iconos/abrir.png);
}

/*****************login fin **********************/
/********Home***********/

/************menu************/
.menu-contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:100%/ 240px calc(100% - 240px);
}
.menu{
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: var(--azul);
}
.harmburger{
    display: none;
}
.nav-menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-menu ul li div.deplegado a:hover{
    background-color: var(--azul2);
}
.nav-menu ul{
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 15px;
    box-sizing: border-box;
}
.nav-menu li{
    width: 100%;
    height: auto;
    margin-top:15px;
}
.nav-menu p{
    margin: 0;
}
.nav-menu ul p{
    cursor: pointer;
}
.menu img {
    width: 32px;
    height: 32px;
}
.deplegado{
    width: auto;
    height: 100px;
    padding: 5px 0 5px 20px;    
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: solid 1px var(--blanco2);
}
.deplegado a{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    cursor: pointer;
}
.oculta{
    transition-duration: 1s;
    width: auto;
    height: 0;
    margin: 5px 0 5px 10px;
    display: flex;
    flex-direction: column;   
    overflow: hidden;
}
.menu-salir{
    width: 100%;
    height: auto;
}
.menu-salir a{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu-salir span{
    margin-left:10px ;
}
/************menu fin************/
/********Home fin ************/
/***********contenido*********/
.cont{
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--blanco2);
}
/***********contenido fin*********/

/***********contenido grids***********/
.form{
    width: 100%;
    height: auto;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    display: grid;
    grid-template:auto/repeat(12,8.33%) ;
    grid-gap: 10px 0;
}
.form input{
    width: calc(100% - 12px);
}
.colC-Complet{
    grid-column: 1/-1;
    text-align: center;
}
.colR-2{
    grid-row: span 2;
}
.colR-3{
    grid-row: span 3;
}
.colC-2{
    grid-column: span 2;
}
.colR-3{
    grid-row: span 3;
}
.colC-3{
    grid-column: span 3;
}
.colC-4{
    grid-column: span 4;
}
.colC-5{
    grid-column: span 5;
}
.colC-6{
    grid-column: span 6;
}
.colC-7{
    grid-column: span 7;
}
.colC-8{
    grid-column: span 8;
}
.colC-9{
    grid-column: span 9;
}
.colC-10{
    grid-column: span 10;
}
.colC-11{
    grid-column: span 11;
}
/***********contenido grids fin***********/
.row-Grid{
    display: grid;
    flex-direction: row;
    margin: 5px 0;
    width: 100%; 
    height: auto;
    grid-template:auto/repeat(4,25%) ;
    grid-gap: 10px 0;
}
.row-Grid label{
    color: var(--negro3);
    font-size: 18px;
}
.row-Grid input[type="checkbox"].computadora{
    width: 10%;
}
.row-Grid div{
    display: flex;
    flex-direction: row;
}
/********tablas**********/
form.tableB{
    width: 100%;
    height: auto;
    background-color: var(--gris);
    padding: 5px;
    box-sizing: border-box;
}
.form.tableB tr p,a{
    font-size: 16px;
}
.busqueda{
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: var(--blanco);
}
 table.tabConten {
    width: 100%;
    height: auto;
    background-color: var(--blanco2);
    display: grid;
 }
 thead ,tfoot{
    width: 100%;
    height: 45px;
 }
 tfoot tr{
    background-color: var(--naranja);
    color: var(--blanco);
    height: 100%;
 }
 table.tabConten tbody.contenidoT{
    height: 300px;
    overflow: auto;
    padding-right: 2px;
    display: inline;
 }
 table.tabConten tr{
    width: 100%;
    display: grid;
 }
 table.tabConten td{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
.title{
    background-color: var(--azul2);
    border-right: solid 1px var(--blanco2);
    border-left: solid 1px var(--blanco2);
    height: 100%;
    width: calc(100% - 2px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}
.even{
    background-color: var(--blanco2);
}
.odd{
    background-color: var(--gris);
}
.even:hover{
    background-color: var(--cafe);
    transition-duration: .5s;
}
.odd:hover{
    background-color: var(--cafe);
    transition-duration: .5s;
}
.even td{
    border-left:solid 1px  var(--gris);
    border-right:solid 1px  var(--gris);
    border-top:solid 1px  var(--blanco2);
    border-bottom:solid 1px  var(--gris);
}
.odd td{
    border-left:solid 1px  var(--blanco2);
    border-right:solid 1px  var(--blanco2);
    border-top:solid 1px  var(--gris);
    border-bottom:solid 1px  var(--blanco2);
}
/*******profesor********/
.profesor {
    display: grid;
    grid-template-columns: minmax(32px, 5%) minmax(138px, 25%) minmax(81px, 10%) minmax(182px, 23%) minmax(128px, 16%) minmax(90px, auto);
    grid-template-rows: 45px;
    align-items: center;
}
/*******profesor fin**********/
/*******alumno********/
.alumno {
    display: grid;
    grid-template-columns:minmax(32px, 5%) minmax(182px, 15%) minmax(146px, auto) minmax(48px, 5%) minmax(48px, 5%) minmax(88px, 8%) minmax(107px, 8%) minmax(91px, 8%);
    grid-template-rows: 45px;
    align-items: center;
}
/*******alumno fin**********/
/*******usuariosT********/
.usuariosT {
    display: grid;
    grid-template-columns:minmax(32px, 6%) minmax(182px, auto) minmax(146px, 25%) minmax(146px, 25%);
    grid-template-rows: 45px;
    align-items: center;
}
/*******usuariosT fin**********/
.busquedaP{
    grid-template: 50px/repeat(3,1fr);
    align-items: center;
}
/********tablas fin**********/

/********usuarios*********/

.usuarios{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuarios .form {
    grid-template-rows: 60px;
}
.usuarios .tableB {
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.usuarios .form{
    background-color: var(--gris);
    border: 2px solid var(--azul);
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.usuarios .form div {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.usuarios .form input,select {
    width: 80%;
}
/*************@media*************/
@media (max-width: 600px) {
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],select{
        height: auto;
        padding:15px 2px;
        font-size:18px;
        margin:2px auto;
    }
    /**************login**********/
    .formulario {
        grid-template-columns:100%;
        grid-template-rows: 35% 65%;
        height: 90%;
        justify-content: center;
    }
    .formulario-img img{
        height: 90%;
        width: auto;
    }
    .formulario-login{
        justify-content: center;
    }
    .btn-login {
        background-position:20%;
    }
    .btn-login:hover {
        background-position:78%;
    }
    /**************login fin**********/
}
@media (max-width: 750px) {
    /*******usuarios*****/
    .usuarios .form{
        width: 100%;
    }
    /***********tabla*******/
    .profesor{
        grid-template: 1fr/100%;
    }
    .alumno{
        grid-template: 1fr/100%;
    }
    .usuariosT{
        grid-template: 1fr/100%;
    }
    thead{
        display: none;
    }
    table.tabConten th.title{
        display: none;
     }
     table.tabConten td::before {
        margin-bottom: 3px;
        content: attr(data-title);
        width: auto;
        padding-left: 20px;
        font-size: 12px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--azul);
        display: block;
    }
    table.tabConten td {
        flex-direction: column;
        align-items:flex-start;
    }
    .contenidoT tr p, a {
        display:inline;
        padding-left: 20px;
    }
    .even{
        background-color: var(--blanco2);
        padding: 10px 0;
    }
    .odd{
        background-color: var(--gris);
        padding: 10px 0;
    }
    /*********menu*************/
    .harmburger{
        display:block;
        width: 40px;
        margin: auto;
    }
    .harmburger div{
        width: 40px;
        height: 8px;
        background: var(--blanco2);
        margin-top:2px;
    }
    .menu-contenedor{
        grid-template: calc(100% - 54px) 54px/100%;
        transition-duration: .5s;
    }
    .menu-cont-dep{
        transition-duration: .5s;
        grid-template:54px calc(100% - 54px)/100% !important;
    }
    .cont{
        grid-row: 1/2;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .menu{
        grid-row: 2/-1;
        overflow: hidden;
    }
    .nav-menu{
        margin-top: 10px;
        height:90%;
       align-items: center;
    }
    .menu-salir a{
        justify-content: center;
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-menu li{
        width: auto;
    }
    /*********menu fin*************/
} 
@media (max-width: 730px) {
    /************adaptacion del formulario a pantallas pequeñas******************/
    .colRMin-2{
        grid-row: span 2;
    }
    .colCMin-2{
        grid-column: span 2;
    }
    .colRMin-3{
        grid-row: span 3;
    }
    .colCMin-3{
        grid-column: span 3;
    }
    .colCMin-4{
        grid-column: span 4;
    }
    .colCMin-5{
        grid-column: span 5;
    }
    .colCMin-6{
        grid-column: span 6;
    }
    .colCMin-7{
        grid-column: span 7;
    }
    .colCMin-8{
        grid-column: span 8;
    }
    .colCMin-9{
        grid-column: span 9;
    }
    .colCMin-10{
        grid-column: span 10;
    }
    .colC-CompletMin{
        grid-column: 1/-1;
        text-align: center;
    }
    /********adaptacion del formulario a pantallas pequeñas fin**********/
}
/**********************calendario*********************/ 
.ui-datepicker {
    border-top: solid 2px var(--naranja);
    background: var(--gris);
    box-shadow: 3px 7px 8px var(--negro3);
}
.ui-datepicker-title select{
    border: 1px solid var(--negro3);
}

.ui-datepicker-title select:focus {
    border: 1px solid var(--naranja) !important;
    background: var(--blanco2) !important;
    color: var(--negro2);
}
.ui-datepicker-header{
    width: 100%; 
    height: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    background: var(--blanco2);
    padding: 10px 0;
}
.ui-datepicker-header span{
    font-size: 30px;
}
.ui-datepicker-title{
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}
.ui-datepicker-prev{
    grid-column: 1/2;
    width: 80%;
    height: 100%;
    text-align: center;
}

.ui-datepicker-next{
    grid-column: 3/-1;
    width: 80%;
    height: 100%;
    text-align: center;
}
.ui-datepicker-calendar{
    margin: 10px;
    padding: 5px 10px;
    background: var(--blanco2);
    border: solid 1px var(--naranja);
}
.ui-datepicker-calendar td{
    margin: 1px;
    border: solid 1px var(--negro3);
    text-align: center;
}
.ui-datepicker-calendar th{
    color: var(--naranja);
}
/**********************calendario fin*********************/ 